*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #be2b;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:400px;
    background-color: rgb(113, 113, 119);
    padding: 30px;
    border-radius: 66px;
    box-shadow:  24px -24px 70px #5f5e5e,
             -24px 24px 70px #444444;
}
.display{
    margin-bottom: 60px;
    border-radius: 66px;
    border-radius: 66px;
    background: #e0e0e0;
    box-shadow: inset 24px -24px 70px #acacac,
                inset -24px 24px 70px #ffffff;
}
#result{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(93, 220, 93);
}
#category{
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.row span{
    font-weight: 500;
}
input[type="range"]{
    width: 70%;
    height: 3.5px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #dcdcdc;
    border-radius: 4px;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #be2b3b;
    border-radius: 50%;
    cursor: pointer;
}